Aula Best Minds APEX/force-app/main/default/flows/Desafio_2_Clone_Oportunidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CloneNewProducts</name>
        <label>Clone New Products</label>
        <locationX>843</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>LoopCloneProducts.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCloneProducts.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriaOportunidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCloneProducts.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewListProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCloneProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCloneProducts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Desafio 2 Clone Oportunidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Desafio 2 Clone Oportunidade</label>
    <loops>
        <name>LoopCloneProducts</name>
        <label>Loop Clone Products</label>
        <locationX>628</locationX>
        <locationY>426</locationY>
        <collectionReference>GetOportunitproducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CloneNewProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewProduct</name>
        <label>Create New Product</label>
        <locationX>634</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>CriadocomSucesso_screen</targetReference>
        </connector>
        <inputReference>NewListProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriaOportunidade</name>
        <label>Cria Oportunidade</label>
        <locationX>406</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>LoopCloneProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOportunidades.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>GetOportunidades.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetOportunidades.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>GetOportunidades.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>GetOportunidades.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOportunidades</name>
        <label>Get Oportunidades</label>
        <locationX>610</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NovoCloseDate_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOportunitproducts</name>
        <label>Get Oportunidade produtos</label>
        <locationX>410</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CriadocomSucesso_screen</name>
        <label>Criado com Sucesso!</label>
        <locationX>632</locationX>
        <locationY>731</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DIsplay_screen</name>
            <fieldText>&lt;p&gt;Oportunidade &lt;strong&gt;{!Nome_input}&lt;/strong&gt; com data &lt;strong&gt;{!CloseDate_Input}&lt;/strong&gt; criada com &lt;strong style=&quot;color: rgb(42, 255, 0);&quot;&gt;Sucesso!! &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NovoCloseDate_Screen</name>
        <label>novo Close Date Screen</label>
        <locationX>611</locationX>
        <locationY>265</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOportunitproducts</targetReference>
        </connector>
        <fields>
            <name>Nome_input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOportunidades.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CloseDate_Input</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>484</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>GetOportunidades</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewListProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
