Aula Best Minds Apex/Aula Best Minds APEX/force-app/main/default/flows/Desafio_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddItem</name>
        <label>Add Item</label>
        <locationX>798</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>LoopContent.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopContent.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LinksLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContent</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Desafio 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Desafio 5 Anexos do Pai</label>
    <loops>
        <name>LoopContent</name>
        <label>Loop Content</label>
        <locationX>618</locationX>
        <locationY>478</locationY>
        <collectionReference>GetAnexoPai</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContent</name>
        <label>Create Content</label>
        <locationX>621</locationX>
        <locationY>610</locationY>
        <inputReference>LinksLists</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAnexoPai</name>
        <label>Get Anexo Pai</label>
        <locationX>617</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>489</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>GetAnexoPai</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LinksLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
