Aula Best Minds Apex/Aula Best Minds APEX/force-app/main/default/flows/desafio_4_Clone_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CreateProduto</name>
        <label>Create Produto</label>
        <locationX>771</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>ProdutosSelecionados.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutosSelecionados.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateClone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewListProduts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdutosSelecionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProdutosSelecionados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProdutoSelecionado</name>
        <label>Produto Selecionado?</label>
        <locationX>924</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>ProdutosSelecionados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelecioneProdutos_input</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ProdutosSelecionados.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProduto</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice</name>
        <collectionReference>GetOrdensProduct</collectionReference>
        <dataType>String</dataType>
        <displayField>OrderItemNumber</displayField>
        <object>OrderItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>&apos;https://wise-badger-ayf6uk-dev-ed.trailblaze.lightning.force.com/lightning/r/Order/&apos; + {!CreateClone} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>desafio 4 Clone Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>desafio 4 Clone Order</label>
    <loops>
        <name>ProdutosSelecionados</name>
        <label>Produtos Selecionados</label>
        <locationX>615</locationX>
        <locationY>566</locationY>
        <collectionReference>GetOrdensProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProdutoSelecionado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewProduto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateClone</name>
        <label>Create Clone</label>
        <locationX>457</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>ProdutosSelecionados</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOrder.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>GetOrder.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetOrder.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>GetOrder.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewProduto</name>
        <label>Create novo Produto</label>
        <locationX>616</locationX>
        <locationY>709</locationY>
        <connector>
            <targetReference>Sucesso_Screen</targetReference>
        </connector>
        <inputReference>NewListProduts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOrdensProduct</name>
        <label>Get Ordens Product</label>
        <locationX>617</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EscolhaProdutos_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>Get Order</label>
        <locationX>617</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateClone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EscolhaProdutos_screen</name>
        <label>Escolha os Produtos</label>
        <locationX>618</locationX>
        <locationY>311</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <fields>
            <name>SelecioneProdutos_input</name>
            <choiceReferences>choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione os Produtos</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucesso_Screen</name>
        <label>Sucesso Screen</label>
        <locationX>620</locationX>
        <locationY>847</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Sucess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(36, 255, 215);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(42, 255, 0);&quot;&gt;Sucess&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Pedido &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!GetOrder.OrderNumber} &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;criado com Sucesso!!&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;a href=&quot;{!url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(63, 255, 249);&quot;&gt;&lt;strong&gt;Clique aqui para abrir seu pedido&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOrdensProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewListProduts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
