Aula Best Minds Apex/Aula Best Minds APEX/force-app/main/default/flows/FlowOrchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>608</locationX>
        <locationY>407</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReasonFeedBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLow</targetReference>
            </connector>
            <label>Reason FeedBack</label>
        </rules>
        <rules>
            <name>ReasonBreakdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breakdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHigh</targetReference>
            </connector>
            <label>Reason Breakdown</label>
        </rules>
    </decisions>
    <description>SetLow e SetHigh</description>
    <environments>Default</environments>
    <interviewLabel>Flow Or {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SetHigh</name>
        <label>SetHigh</label>
        <locationX>765</locationX>
        <locationY>477</locationY>
        <flowName>SetHigh</flowName>
        <inputAssignments>
            <name>caso</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SetLow</name>
        <label>SetLow</label>
        <locationX>444</locationX>
        <locationY>472</locationY>
        <flowName>SetLow</flowName>
        <inputAssignments>
            <name>caso</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
